# Ignore node_modules directory
node_modules/

# Ignore build output
dist/

# Ignore environment-specific files
.env

# Ignore editor-specific files
.vscode/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore dependency lock files
package-lock.json
yarn.lock