# Ignore node_modules directory
node_modules/

# Ignore build artifacts
dist/
build/

# Ignore environment-specific files
.env

# Ignore log files
*.log

# Ignore editor-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db